{% extends "trips/base.html" %}
{% block title %}Confirmar{% endblock %}

{% block main_content %}
<p>
    Hola <b>{{ request.user | title }}</b>, por favor confirma que querés registrarte en este viaje:
</p>

<form action="{{ processing_url }}" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit">
</form>

{{ request.user }}

<div class="button-container" style="display: flex;justify-content: center">
    <a class="button" href="">Confirmar</a>
</div>

{% endblock %}