{% extends "trips/base.html" %}
{% block title %}Confirmar{% endblock %}

{% block last_breadcrumb %}
<a href="/admin/trips/report/">Reports</a> &rsaquo; Payments for report
{% endblock %}

{% block main_content %}

<h1>Reporte del <b>{{ date_from|date:"d/m/Y" }}</b> al <b>{{ date_to|date:"d/m/Y" }}</b></h1>

<ul>
{% for collector, transactions in payments.items %}
    <li>
        <strong>{{ collector }}</strong> cobra de la siguiente forma:
        <ul>
            {% for person, ammount in transactions %}
                <li><strong>{{ person }}</strong> le paga 💵 <b>${{ ammount }}</b></li>
            {% endfor %}
        </ul>
    </li>
{% empty %}
    <li>Parece que nadie paga...</li>
{% endfor %}
</ul>

{% if even %}
<br class="clear">
<h2>Los que salen hechos son: </h2>
<ul>
    {% for t in even %}
        <li>
            <strong>{{ t.0 }}</strong>
        </li>
    {% endfor %}
</ul>
{% endif %}

<br class="clear">

<h1>Detalle completo</h1>
<small>(para checkear)</small>
<ul>
    {% for data in details %}
        <li>
            {{ data.0 }} viajó con {{ data.1 }} el {{ data.2|date:"d M" }}, paga {{ data.3 }}
            <a href="{{ data.4 }}">(details)</a>
        </li>
    {% endfor %}
</ul>

{% endblock %}